<div class="well">
  <h6>Subscription options</h6>
  <%= f.field_container :subscribable do %>
    <%= f.label :subscribable, Spree.t(:subscribable, scope: 'activerecord.attributes.spree/account_subscription') %><br />
    <%= f.check_box :subscribable %>
  <% end %>


</div>


